

<form
  [formGroup]="form"
  *ngIf="availableExchanges.length > 0"
  (submit)="onSubmit()"
>
  <select
    [formControlName]="controlsConfig.availableExchanges.name"
    (change)="onExchangeSelect()"
  >
    <option value="" selected="selected">Select</option>
    <option
      *ngFor="let exchange of availableExchanges; let i = index"
      [value]="i"
    >
      {{exchange.currencies.from + '-' + exchange.currencies.to}}
    </option>
  </select>

  <input
    currencyMask
    [formControlName]="controlsConfig.from.name"
    [options]="fromOptions"
  />

  <input
    currencyMask
    [formControlName]="controlsConfig.to.name"
    [options]="toOptions"
  />

  <button type="submit"
    [disabled]="!form.valid"
  >
    Submit
  </button>
</form>
